<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
    <title>Восстановление пароля</title>
    <style>
        .main-content {
            margin: auto;
            width: 85%
        }

        .big-button {
            transform: scale(1.3);
        }

        body {
            height: auto;
            background-size: cover;
        }
    </style>
    <script>
    function put(newPasswordForUser, tokenResetPassword) {
            $.ajax({
                url:'/api/user/update_password',
                type: 'PUT',
                data: JSON.stringify({
                    token: tokenResetPassword,
                    newPassword: newPasswordForUser
                }),
                contentType:"application/json; charset=utf-8",
                dataType:"json"})
                .done(function () {
                    window.location.href = "/api/user/update_password";
                })
        }

     function changePassword() {
            let password = document.getElementsByName("password")[0].value;
            let confirmedPassword = document.getElementsByName("confirmedPassword")[0].value;
            let flag = false;

            if (password !== confirmedPassword) {
                document.getElementById('checkConfirmPassword').innerHTML = "Пароли не совпадают";
                flag = true;
            }
            else
                document.getElementById("checkConfirmPassword").value = "";
            if (String(password).length < 8) {
                document.getElementById('checkPassword').innerHTML = "Длина пароля слишком короткая, нужно более 8 символов";
                flag = true;
            }
            else
                document.getElementById("checkPassword").value = "";
            if (String(confirmedPassword).length < 8) {
                document.getElementById('checkConfirmPassword').innerHTML = "Длина подтверждения пароля слишком короткая, нужно более 8 символов";
                flag = true;
            }
            else
                document.getElementById("checkConfirmPassword").value = "";
            if (flag === true)
                clearFields();
            else {
                let tokenResetPassword = "[[${token}]]";
                put(password, tokenResetPassword);
                alert('Пароль успешно изменен');
                window.open('', '_self', '');
                window.close();
            }
        }

        function clearFields() {
            document.getElementById("password").value = "";
            document.getElementById("confirmedPassword").value = "";
        }
    </script>
</head>
<body>
<main class="wrapper">
    <div class="spacer">
        <div class="main-content">
            <h2>Смена пароля:</h2>
            <div class="input-wrapper input-wrapper_type_disc">
                <input id="password" class="form-control" style="width:250px" name="password" type="password" value=""
                       placeholder="Пароль"/>
                <div id="checkPassword" style="color:red"></div>
            </div>
            <br><br>
            <div class="input-wrapper input-wrapper_type_disc">
                <input id="confirmedPassword" class="form-control" style="width:250px" name="confirmedPassword"
                       type="password" value=""
                       placeholder="Подтверждение пароля"/>
                <div id="checkConfirmPassword" style="color:red"></div>
            </div>
            <br><br>
            <button class="btn btn-primary"
                    onclick="changePassword();">
                Подтвердить
            </button>

        </div>
    </div>
</main>
</body>
</html>